@media (max-width: 1200px){

}
@media (max-width: 1024px){
.navbar-default .navbar-nav>li>a
{
	font-size: 14px;
}
}
@media (max-width: 980px){

	img.img-responsive.logo {
    margin: -5px 0;
}
.navbar-default .navbar-nav>li>a
{
	font-size: 16px;
}
.top-header {
    float: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-header .language a:after
{
	display: none;
}
	footer
	{
		text-align: center;
	}
	footer .social a
	{
		float: none;
	}
	.social {
    margin: 20px 30px 0;
    }

}
@media (max-width: 800px){


}
@media (max-width: 768px){

	.top-header
	{
		float: none;
		text-align: center;
		display: inherit;
	}
	.language a {
    margin-right: 0;
    }
	.top-header .language a:after ,
	.top-header .social a
	{
		display: none;
	}
	img.img-responsive.logo
	{
		margin: 0 auto;
	}
	.navbar-toggle,
	
	{
		width: 100%;
		padding:20px; 
		border-color: #3f256e;
		background: #3f256e;
	}


    .navbar-header {
    background: #3f256e;
    border-radius: 10px;
    padding: 10px;
    margin: 50px 20px 0;
   }
   .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3f256e;
}
.navbar-default .navbar-toggle {
    border-color: #3f256e;
    float: right;
}
.navbar-default .navbar-nav>li>a{
   display: table;
    margin: 0 auto;
    }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fcfcfc;
    }
    button.search
    {
    	margin-right: 0;
    }
	.slider1 .owl-carousel#sync2 .owl-prev i
	,.slider1 .owl-carousel#sync2 .owl-next i
	,.slider .owl-carousel#sync1 .owl-prev i
	,.slider .owl-carousel#sync1 .owl-next i
	{
		display: none;
	}


}
@media (max-width: 480px){

	.prands img {

    max-height: 60px;
}
}
@media (max-width: 360px){

}
@media (max-width: 320px)
{
	.prands img {

    max-height: 53px;
}

}

.navside {
    z-index: 999999;
}