@media (max-width: 1200px){
	.navbar-default .navbar-nav>li>a
{
	font-size: 14px;
	padding:35px 5px;
}
}
@media (max-width: 1024px){

	.navbar-default .navbar-nav>li>a
{
	font-size: 14px;
	padding:35px 17px;
}
}
@media (max-width: 980px){

}
@media (max-width: 800px){
	.navbar-default .navbar-nav>li>a
{
	font-size: 14px;
	padding:35px 18px;
}
}
@media (max-width: 768px){

}
@media (max-width: 480px){

}
@media (max-width: 360px){

}
@media (max-width: 320px){

}

.navside {
    z-index: 999999;
}