body{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.top-header {
    float: right;
  }
  .top-header .language a:after
  {
  	margin:0 -50px;
  }
    .navbar-default .navbar-nav>li>a
{
  font-size: 14px;
  padding:35px 16px;
}
  footer .social a {
    float: right;
}
button.searchPlus
{
	left: auto;
	right: 25px;
}