@font-face{

    font-family: 's360r';
    src:url('fonts/SHILIAW23430REGULAR.TTF');
}

@font-face{

    font-family: 's360b';
    src:url('fonts/SHILIAW23630BOLD.OTF');
}
@font-face{

    font-family: 's360t';
    src:url('fonts/SHILIAW23230THIN.OTF');
}
.list-inline,.list-unstyled,p{
    margin: 0px;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    color: #0065a4;
}
a:hover {
    color: #000;
}
body{                                                                                                                        
    font-family: 's360r';
    color: #1a1c1d;
}
h1, h2, h3, h4, h6, h5, b, strong {
    font-family: 's360b';
    font-weight: 300;
}
.top-header
{
    float: left;
    margin: 40px 0;
    display: flex;
}
.language a 
{
    margin-right:30px;
    color: #333232;
}

.top-header .language a:after {
    content: '|';
    position: absolute;
    transition: all 300ms;
    height: 3px;
    margin:0 -80px;
    color: #a9a9a9;
}

.social
{
    margin: 0 30px;
}
.social a
{
    margin: 0 10px;
    color:#3f256e;
}
.social a:hover
{
    color: #df4835;
    transition: 1s;
}
.navbar-default
{
  background-color: #fff;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff;
    padding: 0;
    }
img.img-responsive.logo
{
    margin: -40px 0;
}

.navbar-default .navbar-nav>li>a
{
    font-size: 19px;
    color: #333;
    padding:35px 20px;


}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
 .navbar-default .navbar-nav>.active>a:focus
{
    background-color: #fff;
    color: #df4835;
  
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: #e6e6e6;

}
button.search {
    border: 0;
    outline: none;
    padding: 18px 20px;
    background: #df4835;
    color: white;
    margin-right: 25px;
}
.modal-body input
{
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    background: rebeccapurple;
    border: none;
    color: white;
    position: relative;
}
button.searchPlus
{
     position: absolute;
    left: 25px;
    top: 35%;
    background: rebeccapurple;
    outline: none;
    border-color: rebeccapurple;
    color: white;
    box-shadow: none;
    border: none;

}
.modal-body input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 0.9
}
.modal-body input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 0.9
}
.modal-body input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 0.9
}
.modal-body input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 0.9
}
.modal-footer button
{
color: #fff;

}
.owl-prev , .owl-next
{
position: absolute;
top:0px;
color: #d1d0ce;

}

.owl-carousel {
    direction: ltr;
}
.slider .owl-carousel#sync1 img

{
display: block;
width:100%;
}
.slider .owl-carousel#sync1 .owl-prev
{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateX(-50%);
    background: none;
}
.slider .owl-carousel#sync1 .owl-next
{
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateX(-50%);
    background: none;


    }
    .slider .owl-carousel#sync1 .owl-next i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
.slider .owl-carousel#sync1 .owl-prev i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
    .slider .owl-carousel#sync1 .owl-next i ,.slider .owl-carousel#sync1 .owl-prev i{
        background-color:#11100e;
        opacity: 0.9;
    }
.slider .owl-carousel#sync1 .owl-next i:hover
{
    background-color: #ba4233;
    opacity: 0.9;

}
.slider .owl-carousel#sync1 .owl-prev i:hover
{
    background-color: #ba4233;
    opacity: 0.9;

}
.owl-dots {
    display: none !important;
    }
.description
{
    margin: 80px 0;
    text-align: -webkit-center;
}
.description h1
{
   
    color: #3f256e;
}
.description hr.line
{
    width: 5%;
    background-color: #df4835;
    height: 1px;

}
.description img
{
    margin: 40px 0;
}
.description p
{
    font-size: 20px;
    text-align: center;
    line-height: 35px;
     font-family: 's360t';
      color:#141213;
}
.slider1
{
    background: url(images/background.png);
    padding:60px 0;
}
.slider1 h3
{
   
    color: #3f256e;
    text-align: center;
}
.slider1 hr.line
{
    width: 5%;
    background-color: #df4835;
    height: 1px;

}
.owl-carousel#sync2 img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 100%;

}
.slider1 .device
{
  
padding: 70px 0;
-webkit-clip-path: polygon(50% 2%, 68% 31%, 100% 39%, 78% 66%, 82% 100%, 50% 86%, 20% 100%, 23% 66%, 1% 39%, 32% 32%);
clip-path: polygon(50% 2%, 68% 31%, 100% 39%, 78% 66%, 82% 100%, 50% 86%, 20% 100%, 23% 66%, 1% 39%, 32% 32%);
width: 214px;
height: 225px;
background: #eee;
}
.device
{
    position: relative;
}
.link
{
    display: none;
    position: absolute;
   top: 0;
   left: 0px;
   width: 100%;
   height: 100%;
   background: rgba(223,72,53,.8)
}
.link a{
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    position: absolute;
    color: #fff;
    font-size: 18px;
}
.slider1 .device:hover .link
{
display: block;

}
.item {
    text-align: -webkit-center;
}
.item p
{
    text-align: center;
    color: #3f256e;
    font-size: 22px;
    margin: 40px 0;
}

.slider1 .item:hover p
{
    color:#df4835;
}
.slider1 .owl-carousel#sync2 .owl-prev
{
    font-size: 35px;
    position: absolute;
      top: 25%;
    left: -25px;
    transform: translateX(-50%);
    background: none;
}
.slider1 .owl-carousel#sync2 .owl-next
{
    font-size: 35px;
    position: absolute;
   top: 25%;
    right: -8%;
    transform: translateX(-50%);
    background: none;


    }
    .slider1 .owl-carousel#sync2 .owl-next i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#d9d9d9;
    opacity: 0.9; 
}
.slider1 .owl-carousel#sync2 .owl-prev i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#d9d9d9;
    opacity: 0.9;
  
}
   
.slider1 .owl-carousel#sync2 .owl-next i:hover
{
    color: #ba4233;
    opacity: 0.9;

}
.slider1 .owl-carousel#sync2 .owl-prev i:hover
{
    color: #ba4233;
    opacity: 0.9;

}


.no-padding
{
    padding:0;
}
.part
{
    position: relative;
}
.mfp-bottom-bar {
    display: none;
    }
.part img
{
    width: 100%;
    height: 300px;
}
.zoom
{
    display: none;
    position: absolute;
   top: 0;
   left: 0px;
   width: 100%;
   height: 100%;
   background: rgba(223,72,53,.8)
}
.zoom i{
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    position: absolute;
    color: #fff;
    font-size: 18px;
}
.part:hover .zoom
{
   display: block;
  
}
.service
{
    background: url(images/service.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
.buy
{
    margin: 90px;
}
.service h1
{
    color: #3f256e;

} 
.service hr.line
{
    width: 10%;
    background-color: #df4835;
    height: 1px;
    margin: 20px 0;

}
.service p
{
   
   font-size: 20px;
  line-height: 35px;
  font-family: 's360t';
  color:#141213;
  margin: 30px 0;
}
.service button
{
    background: #df4835;
    color: white;
    padding:15px 60px;
    border: 0;
    outline: none;

}
.prands
{
    margin: 40px 0
}
.prands img 
{
        padding: 20px;
    max-height: 60px;
}
.map{
    height: 350px;
    width: 100%;
    margin: 30px 0 0;
}
#scroll-top {
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 35px;
    z-index: 9999;
    cursor: pointer;
    border-radius: 50%;
    background: #df4835;
    padding: 12px;
    font-size: 18px;

}
footer
{
    background: #331b5e;
    padding:20px 0;
}
footer .copyright
{
    color: #fff;
}
footer .copyright a,
footer .copyright a:hover
{
color:#df4835;
}

footer .social a
{
    float: left;
    color: #fff;
}

